.git
.gitignore
.dockerignore
README.MD
CMakeUserPresets.json
Bakefile-*.hcl
build_containers*.sh
wasmbounds-*.tar

runner-build
runner-build-rv
rundirs
runs
graphs
binaries
work
.vscode

spec-cpu/
polybench-c-4.2/

wasmtime/target
node-v17.9.0/out
node-v17.9.0/__pycache__

__pycache__
